Extracting_From_Drive_To_Vector_DB_Supabase.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "67165d69-551b-46d7-bfc5-80fe0fb7f652",
      "name": "Embeddings Google Gemini4",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        1512,
        664
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "2vEBRpKGUmRG7KoP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "03ed60ad-0d6f-4027-86fa-f1b4848b09a1",
      "name": "Default Data Loader2",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1640,
        664
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "15bebb71-e8c8-404a-b75f-78764f7505f9",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        1504,
        440
      ],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "lf4iLUTbti6L3Mxr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "**List Drive Files** - Retrieves all files from the specified Google Drive folder using extracted folder ID.\n",
        "height": 128,
        "width": 176
      },
      "id": "fe4b1557-e98f-472e-9a45-e9255a77bb11",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 📁 Drive to Supabase Vector Store for RAG\n\nProcesses Google Drive folder files into Supabase vector embeddings for RAG applications.\n\n**Flow:** Drive URL → Parse ID → Init DB → Fetch Files → Loop → Download → Embed → Store\n\n**Requirements:**\n- Google Drive OAuth2\n- Supabase + Postgres credentials\n- Google Gemini API key\n\n**Input:** `{\"Drive_Folder_link\": \"your_drive_url\"}`\n**Output:** Vector embeddings in Supabase documents table\n",
        "height": 512,
        "width": 368,
        "color": 5
      },
      "id": "70199322-e907-402d-894d-e9de30fb0e5b",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Trigger Node** - Starts workflow when called from another n8n workflow. Accepts Drive folder URL as input.\n",
        "height": 128,
        "width": 176
      },
      "id": "b35bd8ce-5892-45cc-8077-9e1fb314979a",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Initialize Database** - Creates Supabase vector table with pgvector extension and match_documents search function. ⚠️ Drops existing table!\n",
        "width": 176
      },
      "id": "43d9746e-313c-43eb-a805-0e33344994bd",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        608,
        440
      ],
      "id": "c23c3bcd-dd38-42dd-a0b5-88fac2d3adb2",
      "name": "When chat message received",
      "webhookId": "85921e3d-c22a-4032-919d-5869ee42a2e1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.chatInput }}",
            "mode": "url"
          }
        },
        "options": {}
      },
      "id": "b358d128-cd63-4ef5-a045-c53e570abfd4",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        440
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bfOjffSYxPSQSMqz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "8c202091-e09d-4b76-859d-b1d522580b32",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1056,
        440
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bfOjffSYxPSQSMqz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        440
      ],
      "id": "52d60ddd-09c8-4cc6-8fb6-1ddbbf349e86",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "lt",
              "keyValue": "1000000000"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        160
      ],
      "id": "031b101e-ff98-4952-a4bc-ecf88629414a",
      "name": "Delete Previous Content",
      "credentials": {
        "supabaseApi": {
          "id": "lf4iLUTbti6L3Mxr",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Embeddings Google Gemini4": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Previous Content": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f7b17ed1bcd9d728066ef542fc3d931ac4f88829d917f4ad42704c1f78ea9a8"
  }
}